* {
    border: none;
    font-size: 16px;
    font-family: "Adwaita Sans Extralight" ;
    min-height: 16px;
    border-color:teal;
}
tooltip {
background: rgba(47,52,65,0.5);
}
window#waybar {
  background: transparent;
  margin: 5px;
 }

#custom-logo {
  padding: 0 10px;
}

.modules-right {
  padding-left: 5px;
  border-radius: 7200px 0 0 7200px;
  margin-top: 0px;
  border-style:solid;
  border-width: 0 0 0.12em 0.12em;
  background: rgba(0, 0, 0, 1);
  color:grey;
  opacity: 1.0;
}

.modules-center {
  background:transparent;
  border-radius: 720px;
  border-top:1px;
  margin: 0 1.3em 0 1.3em;
  opacity: 1.0;
  padding: 0 3px 0 3px;
}

.modules-left {
  border-radius: 0 720px 720px 0;
  border-style:solid;
  border-width: 0 0.12em 0.12em 0;
  margin-top: 0px;
  background: rgba(0, 0, 0, 1); 
  opacity: 1.0;
  color:grey;
}

#battery,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#custom-weather,
#idle_inhibitor,
#tray,
#custom-notification,
#window,
#clock {
  padding: 0 5px;
  margin:0 2px 0 2px;
}

#pulseaudio {
  padding-top: 3px;
}

#temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
  padding-top: 0;
}

#network{
  color :lightcyan;
}


#clock{
  color: lightcyan;
}
#battery.charging {
    color: #77DD77;
    background-color: #000000;

}

#battery:not(.charging) {
    background-color: #000000;
    color:darkturquoise;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #77DD77;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*#workspaces{*/
  /*padding:0 4px 0 4px;*/
  /*border-radius: 12px;*/
  /*background: #C2D3D3;*/
  /*opacity: 0.4;*/
/*}*/

#workspaces button {
    color: #EAB2C2;
    animation: ws_normal 20s ease-in-out 1;
    padding-left: 0.8em;
    padding-right: 1em;
}

#workspaces button.persistent{
    color: #D5A5AA;
}

#workspaces button.active {
    background: rgba(70,10,50,1);
    color: #D5A5AA;
    /*padding:0 1.5em 0 1.5em;*/
    /*padding-right: 1em;*/
    /*padding-left: 1em;*/
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
    border-radius:2em;
}

#workspaces button.persistent:nth-child(2){
    color: #D5A5AA;
}

#workspaces button.persistent:nth-child(3){
    color: #D5A5AA;
}

#workspaces button:hover {
    background: #e2e2e2;
    color: #D5A5AA;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
    border-radius: 1.3em;
}
#custom-notification {
  font-family: "FiraCode Nerd Font";
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
