* {
	font-size: 1.125rem;
	/* 
	margin-left: 0.75em;
	margin-right: 0.75em;
 */
	border-radius: 0.6em;
	min-height: 0;
}


window#waybar {
	background: rgba(30, 30, 30, 0.4);
	padding-bottom: 0.125em;
}

#custom-logo {
	margin-left: 0.12em;
	margin-right: 1em;
	padding: 0 0.75em 0 0.75em;
	color: whitesmoke;
	background-color: rgba(11, 12, 18, 1);

}

#workspaces {
	background-color: rgba(30, 30, 40, 0.8);
}

#workspaces button {
	color: rgba(200, 255, 255, 0.5);
	animation: ws_normal 20s ease-in-out 1;
	padding-left: 0.8em;
	padding-right: 1em;
	/* background-color: rgba(30, 30, 30, 0.9); */
}

#workspaces button.active {
	color: rgba(200, 205, 205, 1);
}

#custom-player {
	margin-left: 1em;
	margin-right: 1em;
	padding: 0 1em 0 1em;
	color: whitesmoke;
	background-color: rgba(21, 12, 28, 1);
}

#clock {
	color: aqua;
	padding: 0 1em 0 1em;
	background-color: rgba(11, 12, 18, 1);
	margin-left: 1em;
	margin-right: 1em;
	padding: 0 0.75em 0 0.75em;

}

#tray {
	/* color: gold; */
	padding: 0 0.5em 0 0.5em;
	background-color: rgba(11, 12, 18, 1);
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0 0.75em 0 0.75em;

}

#custom-powerDraw {

	padding: 0 0.5em 0 0.5em;
	background-color: rgba(11, 12, 18, 1);
	margin-left: 0.5em;
	margin-right: 0.5em;
	padding: 0 0.75em 0 0.75em;
	color: rosybrown;

}

#bluetooth,
#network,
#pulseaudio {
	padding: 0 0.5em 0 0.5em;
	background-color: rgba(11, 12, 18, 1);
	margin-left: 0.5em;
	/* margin-right: 0.5em; */
	padding: 0 0.75em 0 0.75em;

}

#bluetooth {
	color: rgba(137, 180, 220, 1);
}

#network {
	color: rgba(142, 240, 162, 1);
}

#pulseaudio {
	color: white;
}

#battery {
	padding: 0 0.5em 0 0.5em;
	background-color: rgba(11, 12, 18, 1);
	margin-left: 0.5em;
	/* margin-right: 0.5em; */
	padding: 0 0.75em 0 0.75em;

}

#battery:not(.charging) {
	color: whitesmoke;
}

#battery.charging {
	color: greenyellow;

}

#battery.critical:not(.charging) {
	background-color: #f53c3c;
	color: goldenrod;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
